body  {
    background-color: #FFF6C3;
}
hr {
border-style:none;
border-top-style: dotted ;
height: 0px;
width: 10%;
border-color: grey;
border-width: 5px;
}
h1 {
    color: #CB1C8D;
font: 2em Brush Script MT;
}
h2{
    color: #CB1C8D;

        font: 2em Poppins;

}
h3 {
    color: #CB1C8D;
    font: 2em Poppins;
}