body  {
    background-color: #7bf5f5;;
}
hr {
border-style:none;
border-top-style: dotted ;
height: 0px;
width: 10%;
border-color: grey;
border-width: 5px;
}
h1 {
color: #62B6B7;
font: 2em Brush Script MT;
}
h2{
    color: #62B6B7;
    font: 2em Poppins;

}
h3 {
    color: #62B6B7;
    font: 2em Poppins;
}